<p id="notice"><%= notice %></p>

<p>
    <strong>Familyname:</strong>
    <%= @personne.familyName %>
</p>

<p>
    <strong>Maidenname:</strong>
    <%= @personne.maiderName %>
</p>

<p>
    <strong>Firstname:</strong>
    <%= @personne.firstName %>
</p>

<p>
    <strong>Dateofbirth:</strong>
    <%= @personne.dateOfBirth %>
</p>

<p>
    <strong>Email:</strong>
    <%= @personne.email %>
</p>

<p>
    <strong>Nationality:</strong>
    <%= @personne.nationality %>
</p>

<p>
    <strong>Civilstatus:</strong>
    <%= @personne.civilStatus %>
</p>

<p>
    <strong>Address:</strong>
    <%= @personne.address %>
</p>

<p>
    <strong>City:</strong>
    <%= @personne.city %>
</p>

<p>
    <strong>Zipcode:</strong>
    <%= @personne.zipCode %>
</p>

<p>
    <strong>Co:</strong>
    <%= @personne.co %>
</p>

<p>
    <strong>Privatephone:</strong>
    <%= @personne.privatePhone %>
</p>

<p>
    <strong>Profphone:</strong>
    <%= @personne.profPhone %>
</p>

<p>
    <strong>Illnessinsurance:</strong>
    <%= @personne.illnessInsurance %>
</p>

<p>
    <strong>Additionnalinsurance:</strong>
    <%= @personne.additionnalInsurance %>
</p>

<p>
    <!-- @TODO edit link -->
    <% if @personne.type == 'Patient'%>
        <strong><%= link_to 'Survey', controller: 'answers', action: 'new', personne_id: @personne.id %>
        </strong>
    <% end %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
