<%= form_for(@survey) do |f| %>
    <%= hidden_field_tag 'patient_id', @survey.patient_id  %>
    <% if @survey.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@survey.errors.count, 'error') %> prohibited this survey from being saved:</h2>

            <ul>
                <% @survey.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%i=1%>
    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q1 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q2 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q3 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q3a %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q4 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q5 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q6 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q7 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8a %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8b %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8c %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8d %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8e %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8f %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8g %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8h %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8i %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8j %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8k %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q8l %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q9 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q10 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q11 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q12 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q13 %>
        <% i += 1 %>
    </div>

    <% if @questions.where(:idQuestion => i)[0]['tag'].match(/[a-z]+/) %><% @style='margin-left: 30px;'%><%else%><% @style=""%><% end %>
    <div class="field"  style="<%=@style%>">
        <b><%=@questions.where(:idQuestion => i)[0]['tag']%>.</b> <%=@questions.where(:idQuestion => i)[0]['question']%><br />
        <%= f.text_field :q14 %>
    </div>

    <%= hidden_field_tag 'fuck', @survey.patient_id  %>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
